.examples__list {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.examples__item {
    margin-right: 8px;

    &:last-child {
        margin-right: 0px;
    }
}


.examples__button {
    padding: 6px 22px;

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--second-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    background-color: var(--background-grey);
    border: none;
    border-radius: 4px;

    transition-property: background-color, box-shadow, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        ;
    }

}
