:root {
    --accent-color: #2196F3;
    --main-text-color: #757575;
    --second-text-color: #212121;
    --white-color: #FFFFFF;
    --background-grey: #F5F4FA;
    --background-darkgrey: #2F303A;
    --footer-grey--: rgba(255, 255, 255, 0.6);
    --border-line: #ECECEC;
    --icon-colour: #AFB1B8;

    --form-label-color: rgba(117, 117, 117, 1);
    --form-input-border-color: rgba(33, 33, 33, 0.2);
    --form-input-placeholder-color: rgba(117, 117, 117, 0.5);
    --form-icon-color: background: rgba(33, 33, 33, 1);

}